################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ISS_Shops_GUI/.vs/ISS_Shops_GUI/FileContentIndex
/Shops_GUI_Test/.vs/Shops_GUI_Test/FileContentIndex
