USE [DutyFreeShops]
GO
ALTER TABLE [dbo].[Shop] DROP CONSTRAINT [FK__Shop__manager_id__398D8EEE]
GO
ALTER TABLE [dbo].[Reservation] DROP CONSTRAINT [FK__Reservati__cart___440B1D61]
GO
ALTER TABLE [dbo].[Item] DROP CONSTRAINT [FK__Item__shop_id__3C69FB99]
GO
ALTER TABLE [dbo].[CartItem] DROP CONSTRAINT [FK__CartItem__item_i__47DBAE45]
GO
ALTER TABLE [dbo].[CartItem] DROP CONSTRAINT [FK__CartItem__cart_i__46E78A0C]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [FK__Cart__client_id__412EB0B6]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ticket]') AND type in (N'U'))
DROP TABLE [dbo].[Ticket]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Shop]') AND type in (N'U'))
DROP TABLE [dbo].[Shop]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reservation]') AND type in (N'U'))
DROP TABLE [dbo].[Reservation]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Manager]') AND type in (N'U'))
DROP TABLE [dbo].[Manager]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Item]') AND type in (N'U'))
DROP TABLE [dbo].[Item]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Client]') AND type in (N'U'))
DROP TABLE [dbo].[Client]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CartItem]') AND type in (N'U'))
DROP TABLE [dbo].[CartItem]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/22/2026 2:03:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cart]') AND type in (N'U'))
DROP TABLE [dbo].[Cart]
GO
USE [master]
GO
/****** Object:  Database [DutyFreeShops]    Script Date: 3/22/2026 2:03:46 AM ******/
DROP DATABASE [DutyFreeShops]
GO
