USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DutyFreeShops')
BEGIN
    CREATE DATABASE [DutyFreeShops]
END
GO

USE [DutyFreeShops]
GO

/****** Table [dbo].[Manager] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[manager_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](10) NULL,
PRIMARY KEY CLUSTERED ([manager_id] ASC)
)
GO

/****** Table [dbo].[Shop] ******/
CREATE TABLE [dbo].[Shop](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[manager_id] [int] NULL,
PRIMARY KEY CLUSTERED ([shop_id] ASC)
)
GO

/****** Table [dbo].[Item] ******/
CREATE TABLE [dbo].[Item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[shop_id] [int] NULL,
	[stock] [int] NULL,
	[price] [float] NULL,
	[img] [varchar](300) NULL,
	[name] [varchar](100) NULL,
	[description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED ([item_id] ASC)
)
GO

/****** Table [dbo].[Client] ******/
CREATE TABLE [dbo].[Client](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED ([client_id] ASC)
)
GO

/****** Table [dbo].[Cart] ******/
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED ([cart_id] ASC)
)
GO

/****** Table [dbo].[CartItem] ******/
CREATE TABLE [dbo].[CartItem](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED ([cart_item_id] ASC)
)
GO

/****** Table [dbo].[Reservation] ******/
CREATE TABLE [dbo].[Reservation](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[time_slot] [time](7) NULL,
	[reservation_date] [date] NULL,
	[cart_id] [int] NULL,
	[active] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED ([reservation_id] ASC)
)
GO

/****** Table [dbo].[Ticket] ******/
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](50) NULL,
	[subcategory] [varchar](50) NULL,
PRIMARY KEY CLUSTERED ([ticket_id] ASC)
)
GO

/****** Foreign Keys ******/
ALTER TABLE [dbo].[Shop] WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO

ALTER TABLE [dbo].[Item] WITH CHECK ADD CONSTRAINT [FK__Item__shop_id]
FOREIGN KEY([shop_id]) REFERENCES [dbo].[Shop] ([shop_id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Cart] WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([client_id])
GO

ALTER TABLE [dbo].[CartItem] WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO

ALTER TABLE [dbo].[CartItem] WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
GO

ALTER TABLE [dbo].[Reservation] WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO

/****** Data Inserts ******/
SET IDENTITY_INSERT [dbo].[Manager] ON
INSERT [dbo].[Manager] ([manager_id], [name], [email], [phone]) VALUES (1, N'Marcel', N'marcel@gmail.com', N'4074593789')
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO

SET IDENTITY_INSERT [dbo].[Shop] ON
INSERT [dbo].[Shop] ([shop_id], [type], [name], [manager_id]) VALUES (12, N'Food & Beverage', N'Sky Bites', 1)
INSERT [dbo].[Shop] ([shop_id], [type], [name], [manager_id]) VALUES (13, N'Coffee Shop', N'Runway Cafe', 1)
INSERT [dbo].[Shop] ([shop_id], [type], [name], [manager_id]) VALUES (14, N'Luxury Goods', N'Elite Boutique', 1)
SET IDENTITY_INSERT [dbo].[Shop] OFF
GO

SET IDENTITY_INSERT [dbo].[Item] ON
INSERT [dbo].[Item] ([item_id], [shop_id], [stock], [price], [img], [name], [description]) VALUES (8, 12, 98, 12.5, N'https://images.unsplash.com/photo-1528735602780-2552fd46c7af', N'Chicken Sandwich', N'Fresh sandwich')
INSERT [dbo].[Item] ([item_id], [shop_id], [stock], [price], [img], [name], [description]) VALUES (9, 12, 77, 8, N'https://images.unsplash.com/photo-1550304943-4f24f54ddde9', N'Caesar Salad', N'Healthy salad')
INSERT [dbo].[Item] ([item_id], [shop_id], [stock], [price], [img], [name], [description]) VALUES (10, 12, 60, 5.5, N'https://images.unsplash.com/photo-1621506289937-a8e4df240d0b', N'Orange Juice', N'Fresh juice')
SET IDENTITY_INSERT [dbo].[Item] OFF
GO

SET IDENTITY_INSERT [dbo].[Client] ON
INSERT [dbo].[Client] ([client_id], [name], [date_of_birth]) VALUES (1, N'Crina', CAST(N'2003-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[Client] OFF
GO

SET IDENTITY_INSERT [dbo].[Cart] ON
INSERT [dbo].[Cart] ([cart_id], [client_id], [status]) VALUES (1, 1, N'active')
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO

SET IDENTITY_INSERT [dbo].[CartItem] ON
INSERT [dbo].[CartItem] ([cart_item_id], [cart_id], [item_id], [quantity]) VALUES (14, 1, 8, 2)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO

SET IDENTITY_INSERT [dbo].[Reservation] ON
INSERT [dbo].[Reservation] ([reservation_id], [time_slot], [reservation_date], [cart_id], [active]) VALUES (8, CAST(N'02:20:25.0809857' AS Time), CAST(N'2026-03-27' AS Date), 1, 0)
INSERT [dbo].[Reservation] ([reservation_id], [time_slot], [reservation_date], [cart_id], [active]) VALUES (9, CAST(N'16:04:41.1185657' AS Time), CAST(N'2026-03-27' AS Date), 1, 0)
INSERT [dbo].[Reservation] ([reservation_id], [time_slot], [reservation_date], [cart_id], [active]) VALUES (10, CAST(N'18:15:48.1573253' AS Time), CAST(N'2026-03-27' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO

SET IDENTITY_INSERT [dbo].[Ticket] ON
INSERT [dbo].[Ticket] ([ticket_id], [category], [subcategory]) VALUES (12, N'Duty Free Shops', N'Global Duty Free')
INSERT [dbo].[Ticket] ([ticket_id], [category], [subcategory]) VALUES (13, N'Duty Free Shops', N'Global Duty Free')
INSERT [dbo].[Ticket] ([ticket_id], [category], [subcategory]) VALUES (14, N'Duty Free Shops', N'Global Duty Free')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO